body {
    background-image: url("../images/SSBU-3D_Land.png");
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-size:150%;
    font-weight:bold;
}

hr {
    width:95%;
    border-color:purple;
}

.statsheet {
    float:left;
    text-shadow: .5px .5px 1px black;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.statline {
    padding-bottom:40px;
    margin-left:7px;
}

#gamespace {
    width: 70rem;
    margin: auto;
    position:relative;
    margin-top:15px;
}

#playerspace {
    border-style: ridge;
    border-width: 3px;
    border-color:darkslateblue;
    margin-bottom: 10px;
    height: 330px;
    width: 260px;
    left:0px;
    background: rgba(159, 255, 4, 0.719); 
    font-variant: small-caps;
    border-radius:10px;
    box-shadow:5px 5px 20px rgba(163, 120, 11, 0.781);  
}

#buttonspace {
    margin:10px;
    display:none;
    position: relative;
    top: 14px;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    border-radius:8px;
    background-color:blue;
    color:cornsilk;
    font-variant:small-caps;
    height:45px;    

}

button:hover {
    border-color: darkred;
    background-color:red;
    color:cornsilk;   
    position:relative; 
    top: -3px;
    transition: all ease 0.1s;
    cursor: pointer;
    box-shadow:2px 2px 15px rgba(139, 0, 0, 0.781);  

}

#enemyspace {
    border-style: ridge;
    border-width: 3px;
    border-color:red;
    margin-bottom: 10px;
    height: 330px;
    width: 260px;
    right:-5px;
    top:0px;
    position:absolute;
    background: rgba(159, 255, 4, 0.719); 
    font-variant: small-caps;
    border-radius:10px;
    box-shadow:5px 5px 20px rgba(163, 120, 11, 0.781);  

}


#player_sprite {
    float:left;
    position:absolute;
    left: 25rem;
    bottom: 25rem;
}

#enemy_sprite {
    float:right;
    position:absolute;
    right: 25rem;
    bottom: 25rem;
}

#actionspace {
    width: 100%;
    height: 100px;
    border-style:ridge;
    border-color:teal;
    border-width:3px;
    background: rgba(120, 120, 200, 0.8); 
    text-shadow: .5px .5px 1px black;
    color: honeydew;
    font-weight:bolder;
    text-align:center;
    border-radius:10px;
    box-shadow:5px 5px 20px rgba(51, 51, 83, 0.8); 

}

#actiontext {
    margin: 15px;
}

#enemyactiontext {
    margin: 15px;
}

#choosespace {
    width: 100%;
    height: 200px;
    border-style:ridge;
    border-color:teal;
    border-width:3px;
    background: rgba(120, 120, 200, 0.8); 
    border-radius:10px;
    box-shadow:5px 5px 20px rgba(51, 51, 83, 0.8); 

}

#instructions {
    padding: 5px;
    text-shadow: .5px .5px 1px black;
    color: rgb(51, 255, 44);
    font-weight:bolder;
    font-variant: small-caps;
    font-size:40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    text-align:center;
}

#playericon {
    margin:5px;
    width: 80px;
    height: auto;
    visibility: hidden;

}

#enemyicon {
    margin:2px;
    position:absolute;
    right:0px;
    width: auto;
    height: 80px;
    visibility: hidden;
}

#playername {
    float:right;
    padding: 10px;
    font-size:40px;
    font-weight:bolder;
    text-shadow: .5px .5px 1px black;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#enemyname {
    padding: 10px;
    margin-bottom:50px;
    font-size:40px;
    font-weight:bolder;
    text-shadow: .5px .5px 1px black;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#fighterspace {
    margin-left:auto;
    margin-right:auto;
    width:45%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#choice1, #choice2, #choice3 {
    width: 90px;
    height: auto;
    padding: 10px;
    position: relative;
    bottom: 10px;
}

#choice4 {
    width: 110px;
    height: auto;
    padding: 10px;
    position: relative;
    bottom: 14px;
}

#choice1:hover, #choice2:hover, #choice3:hover{
    cursor: pointer;
    position:relative;
    top: -15px;
    transition: all ease 0.1s;
    cursor: pointer;
}

#choice4:hover {
    cursor: pointer;
    position:relative;
    top: -20px;
    transition: all ease 0.1s;
    cursor: pointer;
}